{% extends 'main/layout.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'main/style/write.css' %}">
{% endblock %}
{% block title %} Отзывы {% endblock %}

{% block links %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">Обо мне</a></li>
    <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Портфолио</a></li>
    <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Отзывы</a></li>
    <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Прайс</a></li>
    <li class="nav-item"><a href="#" class="nav-link">+7 (812) 660-50-88</a></li>
</ul>
{% endblock %}

{% block content %}
<main>
    <div class="circle col-4"></div>
    <section class="feedback">
        <div class="container text-center">
            <h2 class="mb-5">Красота в словах, поделитесь своими впечатлениями о маникюре</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.name }}
                {{ form.last_name }}
                {{ form.feedback }}
                <button class="sign-button mt-3" type="submit">Отправить</button>
            </form>
        </div>
    </section>
    <div class="circle circle2 col-4"></div>
</main>
{% endblock %}

{% block links-footer %}
<li><a href="{% url 'about' %}">Обо мне</a></li>
<li><a href="{% url 'home' %}">Портфолио</a></li>
<li><a href="{% url 'home' %}">Отзывы</a></li>
<li><a href="{% url 'home' %}">Прайс</a></li>
{% endblock %}