{% extends 'main/layout.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'main/style/write.css' %}">
{% endblock %}
{% block title %} Запись {% endblock %}

{% block links %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">Обо мне</a></li>
    <li class="nav-item"><a href="{% url 'courses' %}" class="nav-link">Курсы</a></li>
    <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Портфолио</a></li>
    <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Отзывы</a></li>
    <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Прайс</a></li>
</ul>
{% endblock %}

{% block content %}
<main>
    <div class="circle col-4"></div>
    <section class="write">
        <div class="container text-center">
            <h2 class="mb-5">Запишитесь на маникюр, ваши красивые ногти ждут</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.name }}
                {{ form.last_name }}
                {{ form.phone_number }}
                <div class="row service-buttons">
                    {% for service in form.services %}
                    <div class="col-12 col-md-4 mt-3 mb-5">
                        <button type="button" class="bubbly-button" data-manicure-id="{{ forloop.counter }}">{{ service }}</button>
                        <div id="manicure_type_{{ forloop.counter }}" class="manicure-type hidden">
                            {% if forloop.counter == 1 %}
                            {{ form.manicure_types_service1 }}
                            {% elif forloop.counter == 2 %}
                            {{ form.manicure_types_service2 }}
                            {% elif forloop.counter == 3 %}
                            {{ form.manicure_types_service3 }}
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {{ form.manicure_types_service1.errors }}
                <button class="sign-button" type="submit">Записаться</button>
            </form>
        </div>
    </section>
    <div class="circle circle2 col-4"></div>
</main>
{% endblock %}

{% block links-footer %}
<li><a href="{% url 'about' %}">Обо мне</a></li>
<li class="nav-item"><a href="{% url 'courses' %}" class="nav-link">Курсы</a></li>
<li><a href="{% url 'home' %}">Портфолио</a></li>
<li><a href="{% url 'home' %}">Отзывы</a></li>
<li><a href="{% url 'home' %}">Прайс</a></li>
{% endblock %}